<div>
  <h3>All of the events should show below</h3>

  <table>
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>      
        <th>Time</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evento of events">
        <td> {{evento.name}} </td>
        <td> {{evento.date}} </td>
        <td> {{evento.time}} </td>
        <td> {{evento.location.address}}, {{evento.location.city}}, {{evento.location.country}}</td>
      </tr>
    </tbody>
  </table>

</div>