<div>
  <div *ngFor="let event of events" class="well hoverwell thumbnail">
    <h2>{{event.name}}</h2>
    <span [ngSwitch]="event?.format">
      <span class="label label-warning" *ngSwitchCase="'InPerson'">In-Person</span>
      <span class="label label-warning" *ngSwitchCase="'Online'">Online</span>
      <span class="label label-warning" *ngSwitchDefault>TBD</span>
    </span>
    
    <div>Date: {{event.date}}</div>
    <div>Time: {{event.time}}</div>
    <div *ngIf="event.location">
      <span>Location: {{event?.location?.address}}</span>
      <span class="pad-left">{{event?.location?.city}}, {{event?.location?.country}}</span>
    </div>
    <div *ngIf="event.onlineUrl">
      Online URL: {{event?.onlineUrl}}
    </div>
  </div>

</div>